#myTab {
    margin: 40px;
}

#myTabContent {
    margin: 0 55px 0 55px;
}

.currency {
    padding: 0 20px 20px 0;
}

.symbol {
    font-weight: bold;
}

.toggle, .toggle-on, .toggle-off { border-radius: 20px; }
.toggle-handle { border-radius: 100%; background-color: white; }